* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
/* CLIENT 1 */
#navbar {
    background: linear-gradient(to bottom, #bacdea, #d96eb4, #5A5B44);
    display: flex;
    justify-content: center;

}
#navbar a {
    text-decoration: none;
    color: black;
    padding: 24px;
    align-items: center;
    font-weight: bold;
}
#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}
#navbar {
    position: sticky;
    top: 0px;
    color: black;
}
#layout h1 {
    text-align: center;
}


/* CLIENT 3 */
#navbar1 {
    background: linear-gradient(to bottom, rgb(199, 69, 195), black);
    display: flex;
    justify-content: space-between;

}
#navbar1 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 24px;
    align-items: center;
    font-weight: bold;
}
#navbar1 .cta-button {
    background-color: rgb(141, 35, 97);
    color: rgb(242, 240, 236);
    border-radius: 36px;
    padding: 10px 23px;
    font-size: 15px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
    margin-right: 24px;
}
#layout1 {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}
#navbar1 {
    position: sticky;
    top: 0px;
    color: rgb(255, 244, 244);
}
#layout1 h1 {
    text-align: center;
}
#navbar-bottom1 {
    background: linear-gradient( rgb(66, 64, 64), black);
    display: flex;
    justify-content: space-between;
}
#navbar-bottom1 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 12px 36px;
    font-weight: bold;
}
#navbar-top1 {
    background: linear-gradient( rgb(83, 83, 80), black);
    display: flex;
    justify-content: center;
}
#navbar-top1 a {
    text-decoration: none;
    color: rgb(237, 2, 2);
    font-weight: bold;
    padding: 12px 36px;
    font-weight: bold;
}

/* CLIENT 2 */
#navbar2 {
    background: linear-gradient(to bottom, red, orange, yellow);
    display: flex;
    justify-content: space-around;

}
#navbar2 a {
    text-decoration: none;
    color: black;
    padding: 24px;
    align-items: center;
    font-weight: bold;
}
#navbar2 .cta-button {
    background-color: red;
    color: black;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
#layout2 {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}
#navbar2 {
    position: sticky;
    top: 0px;
    color: black;
}
#layout2 h1 {
    text-align: center;
}