* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:rgb(143, 207, 216);
    color: hsl(119, 34%, 29%);
}
.navbar {
    background-color: #D8BA93;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.navbar a {
    color: #326431;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}
.navbar a:hover {
    background-color: #E7A84A;
}
.hero {
    text-align: center;
    padding: 50px;
}
.hero h1 {
    font-size: 3rem;
}
.cta {
    background-color: #D8BA93; 
    color: #326431;             
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 0.3s, color 0.3s; 
}
.cta:hover {
    background-color: #E7A84A; 
    color: #ffffff;             
}
header {
    background-color:#326431 ;
    text-align: center;
    padding: 20px 0;
  }
  
  h1 {
    color:#326431;
  }
  
  main {
    padding: 20px;
  }
  
  .featured-dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .menu-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .dish-card {
    width: 250px; 
    margin: 20px;
    padding: 20px;
    background-color: #ffffff; 
    text-align: center;
  }
  
  .dish-card img {
    width: 100%; 
    height: auto;
  }
  
  .price {
    font-size: 18px;
    font-weight: bold;
  }
  .order-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  .order-btn:hover {
    background-color: #45a049;
  }

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  
  .featured-dish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; 
  }
footer {
    text-align: center;
    padding: 20px;
    background-color: #D8BA93;
    color: #326431;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    .hero h1 {
        font-size: 2rem;
    }
}

